<%#= -------------Slider%>
<div id="slides" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1" ></li>
</ul>
    <div class="carousel-item active">
    <%= image_tag('cap3.jpg')%>

      <div class="carousel-caption">
      <%= image_tag('Zhus_logo_2_low.png', class:"caro")%>
      </div>

    </div>
    <div class="carousel-item">
    <%= image_tag('background2.jpg')%>
    <div class="carousel-caption">
    <%#= image_tag('Zhus_logo_2.png', class:"caro")%>
    </div>
</div>
</div>