<%#= -------------background-------------%>

<figure>
<div class="fixed-wrap mb-5">dsadasd
      <div id="fixed">
      </div>
</div>
</figure>

<%#= -------------Featured Categories-------------%>

<div class="container-fluid gallery padding jumbotron">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="lead display-5">Featured Gallery</h1>
        </div>
        <hr>
    </div>

        <div class="container padding mt-5 mb-5 ">
        <div class="row row-cols-1 row-cols-md-3 ">

        <div class="col sm-12 md-6 lg-4">
          <div class="card">
          <%=image_tag 'c1.jpg',class:"card-img-top"%>
            <div class="card-body">
              <h5 class="card-title">Casual</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

        <div class="col sm-12 md-6 lg-4">
          <div class="card">
          <%=image_tag 'c4.jpg',class:"card-img-top"%>
            <div class="card-body">
              <h5 class="card-title">Basketball</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
  
        <div class="col sm-12 md-6 lg-4">
          <div class="card">
          <%=image_tag 'c5.jpg',class:"card-img-top"%>
            <div class="card-body">
              <h5 class="card-title">Running</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

</div>
</div>


</div>



<%#= -------------Philosphy------------%>


<%#= -------------media------------%>
<div class ="container-fluid padding">
<div class ="row text-center padding">

        <div class="col-12">
        <h2>Follow us</h2>
        </div>
        <div class="col-12 social padding">
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        </div>

</div>
</div>

<%#= -------------footer------------%>
<div class="container-fluid footer padding mt-5">
<div class="row text-center">

        <div class="col-md-4">
        <h4>Legal</h4><br>
        <p>Tips & help</p>
        <p>About Zhus</p>
        <p>Help</p>
        <p>Contact Us</p>
        <p>Zhuz Classifieds</p>
        <p>StubHub</p>
        <p>Register</p>
        </div>

        
        <div class="col-md-4">
        <h4>Top Categories</h4><br>
        <p>Tips & help</p>
        <p>Casual</p>
        <p>Basketball</p>
        <p>Running</p>
        <p>Formal</p>
        <p>Skate & Canvas</p>
        <p>Other</p>
        </div>

        
        <div class="col-md-4">
        <h4>Zhus Favorites</h4><br>
        <p>Nike</p>
        <p>Adidas</p>
        <p>Converse</p>
        <p>Jordan</p>
        <p>Vans</p>
        <p>New Balance</p>
        <p>Under Armour</p>
        </div>
        <div class="col-12">
        <hr class="light">
        <h5>&copy; Zhus.com</h5>
        </div>

</div>
</div>